html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
  list-style: none;

  /* keep perspective on entire container, needed for flip effect */
  perspective: 1000px;
}

/* flipper idea and implementation obtained from David Walsh's blog */
/* see https://davidwalsh.name/css-flip */
/* flip the card when JS says so */
.flipper.flip {
transform: rotateY(180deg);
}

.flipper {
transition: 0.3s;
transform-style: preserve-3d;
position: relative;
}

.front, .back {
/* hide back of pane during flip */
-moz-backface-visibility: hidden;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;

position: absolute;
top: 0;
width: 100%;
height: 100%;
border-radius: inherit;
}

.front {
/* front pane, placed above back pane */
z-index: 2;

/* for firefox 31 */
transform: rotateY(0deg);

background: #2e3d49;
cursor: pointer;
}

.back {
/* back, initially hidden */
transform: rotateY(180deg);

background: #02b3e4;
cursor: default;
font-size: 33px;
color: #ffffff;

/* display contents centrally */
display: flex;
justify-content: center;
align-items: center;
}

.back.match {
  background: #02ccba;
}

.deck .card {
  height: 125px;
  width: 125px;
  border-radius: 8px;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    /* player starts with 3 gold stars */
    color: gold;

    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.stars.silver {
  color: silver;
}

.stars.silver .third-star {
  /* make the third star invisible */
  color: rgba(255, 255, 255, 0);
}

.stars.bronze {
  color: #a57164;
}

.stars.bronze .second-star {
  /* make the second star invisible */
  color: rgba(255, 255, 255, 0);
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
